.media-element {
	margin: 22px 0;
	box-shadow: 3px 3px 7px #777;	
	border-style: solid;
	border-color: #000000;
	border: 2px;
	padding: 6px;
}
div.field.field-name-body.field-type-text-with-summary.view-mode-full {
	padding-left:20px;
	padding-right:20px;
}
h1#site-name {
	font-size:3.5em;
}
